# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# vue files
node_modules
node_modules/
/node_modules
dist
dist/
/dist

# local env files
*.local
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

# other files
test-results/
playwright-report/
test-results/
playwright-report/
e2e
/tests/e2e/videos/
/tests/e2e/screenshots/
